.form {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}




.bookingform{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    margin-top: 100px;
    display: flex;
    width: 818px;
    margin-left: 540px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:$siteblack;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $siteblack;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $siteblack;
  }
.form-style-2{
  
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    
}
.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style-2 label{
	display: block;
    margin: 0px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
    padding-right: 5px;
    width: 813px;
    height: 61px;
}s
.form-style-2 .tel-number-field{
	width: 40px;
    text-align: center;
    order: 1px solid $siteblue;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
    height: 58px;
    width: 103px;
    border: 1px solid $siteblue;
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
    outline: none;
    border: 1px solid $siteblue;
}
.form-style-2 .textarea-field{
    color: black;
    height: 192px;
    width: 818px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    border: 1px solid $siteblue;
    resize: none;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	
	background: $siteblue;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    width: 813px;
    height: 61px;
    border-radius: 40px 40px 40px 40px;
    text-transform: uppercase;
    resize: none;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
    background: $siteblue;
    color: #fff;
    resize: none;
}
.passengers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 818px;
    padding: 20px 0px 10px 0px;
}
.adults {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    // margin-right: 50px;
    color: $siteblack;
    margin-top: -10px;
}

.kids {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-right: 50px;
    color: $siteblack;
    margin-top: -10px;
    
}

.rooms {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    margin-right: 50px;
    color: $siteblack;
    margin-top: -10px;
    
}


// another form




.form-section-1{
    padding:0;
	margin:0;
	list-style:none;
}

.name-email{
    width: 818px;
    display: flex;
    flex-direction: row;
    color: $siteblack;
}

.name{
    width:344px;
    height: 58px; 
    border: 1px solid $siteblue;
    margin-top: 40px;
    padding-left:20px ;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: $siteblack;
}

.email{
    width:453px;
    height: 58px; 
    border: 1px solid $siteblue;
    margin-left: 20px;
    margin-top: 40px;
    padding-left:20px ;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: $siteblack;
    
}

.checking-in-out{
   
    display: flex;
    flex-direction: column;
    width: 818px;
}

.check-in{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.text-check-in{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    width: 110px;
    display: flex;
    align-items: center;
    
}

.checking-in{
    display: flex;
    flex-direction: row;
    width:698px;
    height: 58px; 
    border: 1px solid $siteblue;
    float:right;
    align-items: center;
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
    font-size: 18px ;
    background-image: url(../images/calendar.svg);
    background-size: 19px 19px;
    background-position: 660px 18px;
    background-repeat: no-repeat;
    margin-left: 10px;
}