nav {
    width: 980px;
    height: 92px;
    margin: 0 auto;
    border-bottom: 2px solid $sitewhite;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 42px;
    width: 92px;
}

.links {
 display: flex;
 align-items: center;
 justify-content: center;
 text-transform: lowercase;
 a {
    font-size: 15px;
    color: $sitewhite;
    text-decoration: none;
 }
 span {
     margin: 0 10px;
     color: $sitepink;
     font-size: 28px;
 }    
}