.quote {
    height: 300px;
    @include center-content($site-full-width, 0 auto);
    display: flex;
    

    .quote-content {
     width: 789px;
     margin: auto;
    
     .quote-text {
         color: $siteyellow;
         margin-bottom: 25px;
     }
    .quote-ceo{
        color: $sitepink;
        margin-bottom: 0px;
    }

    .quote-ceo-title{
        color: $sitegrey;
    }
    }

}
@media (min-width:830px) {
    .quote{
    .quote-content{
        padding: 0 20px;
    }
}
}