.blog-line{
    width: 106px;
    height: 3px;
    background-color: #000;
}

.blog-line p{
    color: white;
}

.blog1{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}
.date-day {
    width: 60px;
    height: 60px;
    background-color: $siteblue;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .day1 {
      font-size: 22px;
      margin-bottom: 0;
      font-family: 'Lato', sans-serif;
    }

    .month1 {
      text-transform: uppercase;
      margin-bottom: 0;
      font-family: 'Lato', sans-serif;
    }
  }

  .blog-image{
    height: 260px;
    width: 890px;
    background-image: 
      url("../images/blog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
  }

  .title-container{
    width: 980px;
}
  .blog-title{
    font-size: 15px; 
    margin-left: 10px;
    font-family: 'Lato', sans-serif;

  }

.blog-desc{
    color: $siteblue;
    font-size: 13px;
    width: 380px;
    margin-left: 10px;
    font-family: 'Lato', sans-serif;

}  
